@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200; /*303*/
  font-style: normal;
}

p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 200;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 303;
  font-style: normal;
}

input,
div {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

/* Hiding Scrollbar*/

::-webkit-scrollbar {
  display: none;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  display: none;
}
